crane_darwin_amd64
crane_darwin_amd64_pro
crane_linux_amd64
crane_linux_386
crane_windows_amd64.exe
crane_windows_amd64_pro.exe

crane/accelerated_mount_pro.go
crane/mac_sync_pro.go
crane/version_pro.go
