[submodule "vendor/github.com/alecthomas/kingpin"]
	path = vendor/github.com/alecthomas/kingpin
	url = https://github.com/alecthomas/kingpin
[submodule "vendor/github.com/alecthomas/template"]
	path = vendor/github.com/alecthomas/template
	url = https://github.com/alecthomas/template
[submodule "vendor/github.com/alecthomas/units"]
	path = vendor/github.com/alecthomas/units
	url = https://github.com/alecthomas/units
[submodule "vendor/github.com/bjaglin/multiplexio"]
	path = vendor/github.com/bjaglin/multiplexio
	url = https://github.com/bjaglin/multiplexio
[submodule "vendor/github.com/fatih/color"]
	path = vendor/github.com/fatih/color
	url = https://github.com/fatih/color
[submodule "vendor/github.com/mattn/go-colorable"]
	path = vendor/github.com/mattn/go-colorable
	url = https://github.com/mattn/go-colorable
[submodule "vendor/github.com/mattn/go-isatty"]
	path = vendor/github.com/mattn/go-isatty
	url = https://github.com/mattn/go-isatty
[submodule "vendor/github.com/flynn/go-shlex"]
	path = vendor/github.com/flynn/go-shlex
	url = https://github.com/flynn/go-shlex
[submodule "vendor/gopkg.in/v2/yaml"]
	path = vendor/gopkg.in/v2/yaml
	url = https://gopkg.in/v2/yaml
